
<section>
  <div class="card">
    <h2 class="card-title">{{title}}</h2>
    <h3 class="card-content">{{content}}</h3>
    <p class="card-info">By {{user.username}} on {{format_date createdAt}}</p>
    <a href="/dashboard/post/{{id}}"></a>
  </div>
</section>