<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
      <button id="logout" class="logout-btn">Logout</button>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </nav>

  <header>
    <h1>Quiz</h1>
  </header>
  
  <main>
    <div class="quiz-container">
      <h2>{{question.question_text}}</h2>
      <form method="post" action="/quiz">
        {{#each question.answers}}
          <div class="answer-choice">
            <input type="radio" name="answer" id="{{id}}" value="{{answer_choice}}">
            <label for="{{id}}">{{answer_choice}}</label>
          </div>
        {{/each}}
        <input type="submit" value="Submit Answer">
      </form>
      {{#if isCorrect}}
        <p class="feedback correct">Correct!</p>
      {{else if isCorrect }}
        <p class="feedback incorrect">Sorry, the correct answer was "{{question.answers.[0].answer_choice}}".</p>
      {{/if}}
      <p>Score: {{score}}</p>
    </div>
  </main>
  <script src="../public/js/logout.js"></script>
  <script src="../public/js/quiz.js"></script>
</body>
</html>