  <h2>{{question.dataValues.question_prompt}}</h2>
  <form method="POST" id="quiz-form">
    <input type="hidden" name="question_id" value="{{question.dataValues.id}}">
    {{#each question.dataValues.answers}}
      <div class="answer-choice">
        <input type="radio" name="answer" id="{{this.dataValues.id}}" value="{{this.dataValues.is_correct}}" required>
        <label for="{{this.dataValues.id}}">{{this.dataValues.answer_choice}}</label>
      </div>
    {{/each}}
    <button class="button is-primary" type="submit">Submit Answer</button>
  </form>
  {{#if score}}
    <p>Score: {{score}}</p>
  {{/if}}
  <button class="button is-primary next-question-btn" style="display:none;">Next Question</button>
</div>
